body {
    background-image: url(4,2.jpg);
    background-size: auto;
}

.menu li {
    font-style: italic; font size: 20px; list style type: none;
}

.menu li a {
    color: #8B00FF;
}

.menu li {
    list-style-type: none
}

li {
    color: black
}

.b {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.h5 {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left
}

.input {
    color: darkgreen;
    height: 25px;
    width: 200px;
    font-size: 18px;
    text-transform: capitalize;
}

.h {
    color: white;
}

.p {
    color: peachpuff;
    font-size: 25px;
}

.a:hover {
    color: greenyellow;
    text-decoration: none;
}

.a {
    color:darkgreen;
    text-decoration: none;
     font-size:150%;
    
}

.A {
    color: skyblue;
    text-decoration: none;
}

.A:hover {
    color: red;
    text-decoration: none;
}

.menu_in {
    display: none;
}

.menu>li:hover .menu_in {
    display: block;
}

.link:hover {
    color: yellow;
    text-decoration: none;
}

.link {
    color: mediumblue;
    text-decoration: none;
}


.img {
    background-image: url(bf1.jpg);
    background-size: cover;
}



.img2 {
     background-image: url(gta.jpg);
    background-size: cover;
}
.img3{
     background-image: url(cs1.jpg);
    background-size: cover;
}

.header {
    height: 80px;
    width: auto;
    
}

.container {
     margin: 30px auto;
            width: auto;
            height: auto;
}
.logo {
    width: 80px;
    height: 80px;
    
    left: 10px;
    float: left;
}

.name {
   margin-left: 500px;
}

.bar {
    float: left;
    width: 200px;
}
.contant {
    margin-left: 200px;
    margin-right: 250px;
}

.footer {
    position: fixed;
    right: 20px;
    bottom: 10px;
}
.catalog {
  float: left; 
    width: 350px; 
    height: 350px;
}

.bar2 {
    float: right;
    width: 200px;
}


.img4 {
    background-image: url(/img/ARMA-3.png);
    background-size: cover;
}


.img5 {
    background-image: url(/img/logopr.jpg);
    background-size: cover;
}

.img6 {
    background-image: url(/img/division.jpg);
    background-size: cover;
}






























