body {
    background-image: url(3.1.jpg);
    background-size: auto;
}

.menu li {
    font style: italic; font size: 20px; list style type: none;
}

.menu li a {
    color: #8B00FF;
}

.menu li {
    list-style-type: none
}

li {
    color: black
}

.b {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.h5 {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left
}

.input {
    color: darkgreen;
    height: 25px;
    width: 200px;
    font-size: 18px;
    text-transform: capitalize;
}

.h {
    color: white
}

.p {
    color: peachpuff;
    font-size: 25px;
}

.a:hover {
    color: greenyellow;
    text-decoration: none;
}

.a {
    color: darkorange;
    text-decoration: none;
}

.A {
    color: skyblue;
    text-decoration: none;
}

.A:hover {
    color: red;
    text-decoration: none;
}

.menu_in {
    display: none;
}

.menu>li:hover .menu_in {
    display: block;
}

.link:hover {
    color: yellow;
    text-decoration: none;
}

.link {
    color: mediumblue;
    text-decoration: none;
}

.block1 {
    width: 100px;
    padding: 5px;
    padding-right: 5px;
    float: left;
}

.block2 {
    width: 600px;
    border: 20px;
    margin: auto;
    padding: 10px;
    float: inherit;
}

.blockmenu {
    height: 900px;
    width: 150px;
    float: left;
}

.container {
    height: 500px;
    width: auto;
}

.footer {
    height: 40px;
    width: 200px;
    float: right;
}

.t {
    height: 50px;
    width: auto;
}

.img {
    background-image: url(bf1.jpg);
    background-size: 100%;
}



.cg {height: 350px;
    width: 350px;
    float: left
    
}

.container2 {
    height: 500px;
    width: 100px;
}

.img2 {
     background-image: url(gta.jpg);
    background-size: 100%;
}
.img3{
     background-image: url(cs.jpg);
    background-size: 100%;
}

